<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Claim Profile List</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60" ng-init="getClaimSearchList()">
	<div class="container">
		<div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6">
              <div class="result-list-box">
                <div class="content">
                  <div class="img-box">
                    <!-- <span class="lawyer-alfa">edgd</span> -->
                    <img class="img-responsive" src="images/doctor/doctor-1.jpg" alt="" />
                  </div>
                  <div class="content-box">
                    <h3>Dr. Priyambada Sahu</h3>
                    <small>Dermatology, Procedural Dermatology,</small>
                    <address class="m-t-10">
                     Brookline Derm LLC 1208B Vfw Parkway, Suite 200, West Roxbury, MA 02132 (Map)<br>
                      <span>
                        <strong class="inline-block">Phone: </strong>
                        <a href="tel:{{list.phone.mobile}}">+91 5216889852</a>
                      </span>
                    </address>
                  </div>
                </div>
                <div class="footer text-right">
                  <a class="btn btn-yellow btn-md" href="">Claim Profile</a>
                  <a class="btn btn-blue btn-md" href="">Sign in</a>
                  <p class="message">This profile has already been claimed.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="widget-box">
            <div class="title">
              Claiming your free myhealthadviser profile lets you...
            </div>
            <ul>
              <li><i class="fa fa-check"></i> <p>Set yourself apart from your colleagues to attract new business</p></li>
              <li><i class="fa fa-check"></i> <p>Update your profile with as much information as you want, as often as you want</p></li>
              <li><i class="fa fa-check"></i> <p>Request reviews and peer endorsements</p></li>
            </ul>
          </div>
        </div>
      </div>
	</div>
</section>
