<section class="inner-banner-large">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<form name="claimSearch">
					<div class="doctor-form-wrap">
						<h2 class="m-b-20">Claim your Profile</h2>
						<div class="form-group doctor-form">
							<i class="fa fa-map-marker map-marker"></i>
							<input name="name" type="text" class="form-control" placeholder="Name, Phone Number" required ng-model="claim.name">
							<i class="fa fa-close clear-icon"></i>
						</div>
						<div class="clearfix">
							<a href="" ui-sref="claim-search-list({profileName:claim.name})" ng-disabled="claimSearch.$invalid" class="btn btn-blue btn-md text-u-c pull-right" ui-sref="">Search</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>