<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Claim Profile List</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60" ng-init="getClaimSearchList()">
	<div class="container">
		<div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6" ng-repeat="doctor in claimList.result">
              <div class="result-list-box">
                <div class="content">
                  <div class="img-box">
                    <span ng-if="!doctor.photo"class="lawyer-alfa">{{doctor.profile.name | getShortName}}</span>
                    <img ng-if="doctor.photo" class="img-responsive" src="{{doctor.photo}}" alt="" />
                  </div>
                  <div class="content-box">
                    <h3>{{doctor.profile.name}}</h3>
                    <!-- <small>Dermatology, Procedural Dermatology,</small> -->
                    <address class="m-t-10">
                      {{doctor.address.formatted}}<br>
                      <span ng-if="doctor.phone.length > 0">
                        <strong class="inline-block">Phone: </strong>
                        <a href="tel:{{list.phone.mobile}}">+91 {{doctor.phone[0].number}}</a>
                      </span>
                    </address>
                  </div>
                </div>
                <div class="footer text-right">
                  <a class="btn btn-yellow btn-md" ui-sref="claim-profile({profileName:doctor.profile.profileName})" ng-if="!doctor.isClaimed">Claim Profile</a>
                  <a class="btn btn-blue btn-md" ui-sref="login" ng-if="doctor.isClaimed">Sign in</a>
                  <p class="message" ng-if="doctor.isClaimed">This profile has already been claimed.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <paging
                  page="paging.currentPage"
                  page-size="paging.showResult"
                  total="paging.totalPage"
                  show-prev-next="true"
                  show-first-last="true"
                  paging-action="filterChanged(page)">
              </paging>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="widget-box">
            <div class="title">
              Claiming your free myhealthadviser profile lets you...
            </div>
            <ul>
              <li><i class="fa fa-check"></i> <p>Set yourself apart from your colleagues to attract new business</p></li>
              <li><i class="fa fa-check"></i> <p>Update your profile with as much information as you want, as often as you want</p></li>
              <li><i class="fa fa-check"></i> <p>Request reviews and peer endorsements</p></li>
            </ul>
          </div>
        </div>
      </div>
	</div>
</section>
