<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Claim Profile</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60" ng-init="getDoctorProfile()">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="row claim-profile">
					<div class="col-sm-2">
						<div class="image">
							<img class="img-responsive" src="images/doctor/doctor-1.jpg" />
						</div>
					</div>
					<div class="col-sm-5">
						<h3>{{doctorDetails.profile.name}}</h3>
						<address>
							<p><i class="fa fa-map-marker m-r-5"></i>{{doctorDetails.address.formatted}}</p>
							<strong ng-if="doctorDetails.specialization.length > 0">Specialties</strong> : {{doctorDetails.specializationArray.toString()}}
						</address>
					</div>
					<div class="col-sm-5">
						<ul>
							<li>
							<div class="radio radio-black">
								<div class="clearfix">
									<input type="radio" value="one" name="optionyes" id="one">
									<label for="one"><i class="fa fa-phone"></i> (875) 243-4567</label>
								</div>
							</div>
							</li>
							<li>
							<div class="radio radio-black pull-left  m-a">
								<div class="clearfix">
									<input type="radio" checked="checked" value="two" name="optionyes" id="two">
									<label for="two"><i class="fa fa-envelope-o"></i> Priyambadasahu@gmail.com</label>
								</div>
							</div>
							</li>
						<ul>
					</ul></ul></div>
					<div class="col-sm-12">
						<div class="alert alert-info" role="alert"> <strong>myhealthadviser</strong> automated Email or phone system will call the number we have on file for you:</div>
					</div>
					<div class="col-sm-12">
						<div class="line"></div>
					</div>
					<div class="col-sm-12 m-b-40">
						<div class="row">
							<div class="col-md-9">
								<div class="checkbox check-black">
									<input type="checkbox" value="1" id="checkbox5">
									<label for="checkbox5">I confirm that I am Priyambada Sahu and I accept Lawsuit Terms of Use and Privacy Policy</label>
								</div>
							</div>
							<div class="col-md-3 text-right m-t-10">
								<a class="btn-yellow m-r-5" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Claim</a>
								<a class="btn-red" href="#">Cancel</a>
							</div>
						</div>
					</div>
				</div>
				<div class="verify-id m-t-50 hidden">
					<h3>PhoneNumber/Email Verification</h3>
					<p>Please enter the verification code sent by myhealthadviser.com</p>
					<div class="row m-t-20">
						<div class="col-sm-12">
						 <form class="form">
							  <div class="form-group">
								<label for="exampleInputName2">Enter the phone verification code here</label>
								<input type="text" class="form-control w-200 b-a h-40" id="exampleInputName2" placeholder="">
							  </div>
						   </form>
						</div>
						<div class="col-sm-12">
						  <a href="#" class="btn btn-blue btn-sm">Submit</a>
						  <p class="text-blue">A verification code has been sent to your mobile</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget-box">
					<div class="title">
						Finish claiming your free profile
					</div>
					<ul>
						<li><i class="fa fa-check"></i> <p>Select a claim method</p></li>
						<li><i class="fa fa-check"></i> <p>Click "Claim and edit profile"</p></li>
						<li><i class="fa fa-check"></i> <p>Update your profile information</p></li>
					</ul>
					<p class="m-t-30">Mauris eleifend pulvinar lectus, eu commodo tortor mattis sit amet. Sed laoreet felis tortor, et viverra eros laoreet nec.</p>
				</div>
			</div>
		</div>
	</div>
</section>
