<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Health Adviser</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/head-style.css">
  	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
<section class="top_header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5 hidden-xs">
				<p>Welcome to My Health Adviser</p>
			</div>
			<div class="col-xs-12 col-sm-7">
				<ul class="nav nav-pills">
					<li><a href="login.html">Login</a></li>
					<li><a href="register.html">Register</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<nav class="navbar navbar-default navbar-static-top fluid_header">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navigation" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="main_navigation">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="specialization.html">Specialization</a></li>
				<li><a href="cities-name.html">Doctor Directory</a></li>
				<li><a href="#">Health Feed</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>


<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Update Customer Profile</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body padd-0">
							<div class="bs-example bs-example-tabs">
								<ul class="nav nav-tabs nav-collapse nav-justified">
								  <li class="active"><a href="#personalDetails" data-toggle="tab"><strong>Personal Details</strong></a></li>
								  <li><a href="#social" data-toggle="tab"><strong>Social</strong></a></li>
								  <li><a href="#preference" class="last-child" data-toggle="tab"><strong>Preference</strong></a></li>
								</ul>
								<div class="tab-content">
								  <div class="tab-pane active" id="personalDetails">
									<div class="row">
									  <div class="col-sm-3">
										  <div class="profile-upload">
											<!-- <h1>SM</h1> -->
											<img class="img-responsive" src="images/doctor/doctor-1.jpg">
										  </div>
											<div class="row">
												<div class="col-sm-12 m-t-10 text-center">
												  <button class="btn btn-blue btn-sm">Upload</button>
												  <button class="btn btn-red btn-sm">Cancel</button>
												</div>
											</div>
									  </div>
									  <div class="col-sm-9">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label>First Name</label>
													<input type="text" class="form-control" id="" placeholder="First Name">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label>Last Name</label>
													<input type="text" class="form-control" id="" placeholder="Last Name">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label>Email</label>
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label>Work Phone</label>
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label>Mobile Phone</label>
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label>Preferred Contact Method</label>
													<select class="form-control">
													  <option value="">Email</option>
													  <option value="">Work</option>
													  <option value="">Mobile</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label>Language Preference</label>
											<select class="form-control">
											  <option value="">English</option>
											  <option value="">Hindi</option>
											  <option value="">Odiya</option>
											</select>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group">
													<label>Street</label>
													<textarea class="form-control" name="street" id="street" rows="2" placeholder="Enter a location" autocomplete="off"></textarea>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label>City</label>
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label>State</label>
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label>Country</label>
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label>Zip</label>
													<input type="text" class="form-control" id="" placeholder="">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label>Address</label>
											<textarea class="form-control" rows="4" placeholder="Comments..."></textarea>
										</div>
										<div class="row">
											<div class="col-sm-12 m-t-10 text-right">
											  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
											  <button class="btn btn-red btn-md text-u-c">Cancel</button>
											</div>
										</div>
										
									  </div>
									</div>
									
								  </div>
								  <div class="tab-pane" id="social">
									<div class="row">
	
										<div class="col-sm-5">
											<h3 class="m-t-0">Social Link</h3>
											<div class="social-line"></div>
											<small>Click on Social Icon to add personal social media information.</small>
											<ul class="social-media">
												<li><a href=""><span class="facebook-bg-default"><i class="fa fa-facebook"></i></span></a></li>
												<li><a href=""><span class="twitter-bg-default"><i class="fa fa-twitter"></i></span></a></li>
												<li><a href=""><span class="gplus-bg-default"><i class="fa fa-google-plus"></i></span></a></li>
												<li><a href=""><span class="instagram-bg-default"><i class="fa fa-instagram"></i></span></a></li>
												<li><a href=""><span class="youtube-bg-default"><i class="fa fa-youtube"></i></span></a></li>
												<li><a href=""><span class="pinterest-bg-default"><i class="fa fa-pinterest-square"></i></span></a></li>
											</ul>
											<div class="row">
												<div class="col-sm-8">
													<div class="form-group m-b-20">
													  <label class="control-label">Social Link</label>
													  <input type="url" name="social" class="form-control b-a h-40" placeholder="" required="">
													  <span style="color:red;font-size: 10px">URL shold be like http://www.example.com</span>
													</div>
												</div>
												<button class="btn btn-blue social-link-btn m-t-30" role="button" ng-click="updateSocialMediaURL()" ng-disabled="aboutMeForm.social.$invalid" disabled="disabled"><i class="fa fa-check"></i></button>
												<button class="btn btn-danger social-link-btn m-t-30" role="button" ng-click="clearSocialMedia()"><i class="fa fa-times"></i></button>
											</div>
											
										</div>
										
									</div>
									<div class="row m-t-10">
										<div class="col-sm-12 m-t-10">
										  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
										  <button class="btn btn-red btn-md text-u-c">Cancel</button>
										</div>
									</div>
									
								  </div>
								  <div class="tab-pane" id="preference">
									<div class="txt-btn-wrap">
										<div class="row m-t-10">
											<label class="control-label col-md-5 col-sm-6 m-b-10">Notification for blogs</label>
											<div class="col-sm-5"> 
												<div class="btn-group btn-group-sm" role="group" aria-label="Small button group"> 
													<button type="button" class="btn btn-gray switch-button text-u-c">Yes </button>
													<button type="button" class="btn btn-blue switch-button text-u-c">No</button> 
												</div>
											</div>
										</div>
										<div class="row m-t-10">
											<label class="control-label col-md-5 col-sm-6">myhelthadviser.com Contributor</label>
											<div class="col-sm-5"> 
												<div class="btn-group btn-group-sm" role="group" aria-label="Small button group"> 
													<button type="button" class="btn btn-gray switch-button text-u-c">Yes </button>
													<button type="button" class="btn btn-blue switch-button text-u-c">No</button> 
												</div>							
											</div>							
										</div>
										<div class="row m-t-10">
											<label class="control-label col-md-5 m-b-10 col-sm-6">Notification for feedback </label>
											<div class="col-sm-5"> 
												<div class="btn-group btn-group-sm" role="group" aria-label="Small button group"> 
													<button type="button" class="btn btn-gray switch-button text-u-c">Yes </button>
													<button type="button" class="btn btn-blue switch-button text-u-c">No</button> 
												</div>
											</div>
										</div>
										<div class="row m-t-10">
											<label class="control-label col-md-5 m-b-10 col-sm-6">Notification for announcements </label>
											<div class="col-sm-5"> 
												<div class="btn-group btn-group-sm" role="group" aria-label="Small button group"> 
													<button type="button" class="btn btn-gray switch-button text-u-c">Yes </button>
													<button type="button" class="btn btn-blue switch-button text-u-c">No</button> 
												</div>
											</div>
										</div>
										<div class="row m-t-30">
											<div class="col-sm-12 m-t-10">
											  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
											  <button class="btn btn-red btn-md text-u-c">Cancel</button>
											</div>
										</div>
										
									
									</div>
							
								  </div>
							
								</div>
							  
							</div>
						</div>
					  </div>
				
			</div>
		</div>
	</div>
	
</section>
<footer class="footer-section padd-t-60">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="ftr-block-list">
					<h4>About Us</h4>
					<ul>
						<li><a href="">Contact Us </a></li>
						<li><a href="">Our Company</a></li>
						<li><a href="">Careers</a></li>
						<li><a href="">Terms and Conditions</a></li>
						<li><a href="">Privacy Policy</a></li>
						<li><a href="">Disclaimer</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ftr-block-list">
					<h4>For Consumers</h4>
					<ul>
						<li><a href="">Review your Doctor </a></li>
						<li><a href="">Community Guidelines</a></li>
					</ul>

				</div>
			</div>
			<div class="col-md-3">
				<div class="ftr-block-list">
					<h4>For Doctor</h4>
					<ul>
						<li><a href="">Account Infomation </a></li>
						<li><a href="">Community Guidelines</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ftr-block-list">
					<h4>Specialties</h4>
					<ul>
						<li><a href="">Chiropractors </a></li>
						<li><a href="">Dentists</a></li>
						<li><a href="">Dermatologists</a></li>
						<li><a href="">Gynecologists</a></li>
						<li><a href="">Primary Care Doctors</a></li>
						<li><a href="">Psychiatrists</a></li>
						<li><a href="" class="text-u-l">More</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="ftr-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					Copyright 2017 healthadviser.com, LLC. All Rights Reserved.
				</div>
				<div class="col-md-6">
					<ul class="ftr-social pull-right">
						<li><a target="_blank" class="fb" href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a target="_blank" class="tw" href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a target="_blank" class="gp" href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a target="_blank" class="li" href="#"><i class="fa fa-linkedin"></i></a></li>
					  </ul>
				</div>
			</div>
		</div>
	</div>
</footer>








<!--jQuery-->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/theme.js"></script>


</body>
</html>
