<footer class="footer-section padd-t-60">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="ftr-block-list">
					<h4>About us</h4>
					<p>Healthcare providers can also harness the power of myhelthadviser as the definitive platform that helps them build their presence, grow establishments and engage patients more deeply than ever.</p>
				</div>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<div class="ftr-block-list">
					<h4>myhelthadviser</h4>
					<ul>
						<li><a ui-sref="contact-us">Contact</a></li>
						<li><a href="">Terms and Conditions </a></li>
						<li><a href="">Privacy Policy</a></li>
						<li><a href="">Disclaimer</a></li>
						<li><a href="">Review your Doctor</a></li>
						<li><a href="">Community Guidelines</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-2">
				<div class="ftr-block-list">
					<h4>Cities</h4>
					<ul>
						<li><a href="">Bhubaneswar </a></li>
						<li><a href="">Channai</a></li>
						<li><a href="">Bangalore</a></li>
						<li><a href="">Delhi</a></li>
						<li><a href="">Mumbai</a></li>
						<li><a href="">Hydrabad</a></li>
						<li><a href="">Pune</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="ftr-block-list">
					<h4>Specialties</h4>
					<ul>
						<li><a href="">Chiropractors </a></li>
						<li><a href="">Dentists</a></li>
						<li><a href="">Dermatologists</a></li>
						<li><a href="">Gynecologists</a></li>
						<li><a href="">Primary Care Doctors</a></li>
						<li><a href="">Psychiatrists</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="ftr-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					Copyright 2017 myhealthadviser.com, LLC. All Rights Reserved.
				</div>
				<div class="col-md-6">
					<ul class="ftr-social pull-right">
						<li><a target="_blank" class="fb" href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a target="_blank" class="tw" href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a target="_blank" class="gp" href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a target="_blank" class="li" href="#"><i class="fa fa-linkedin"></i></a></li>
					  </ul>
				</div>
			</div>
		</div>
	</div>
</footer>
