<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Privacy Policy</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 m-b-20">
				<p>myhealthadviser.com ("myhealthadviser ") is concerned about your privacy rights and wants you to be familiar with how we collect, use and disclose information. myhealthadviser provides information about attorneys and how to protect your legal rights. myhealthadviser may collect information about you in connection with these services. This Privacy Policy describes our practices in connection with information that we collect through myhealthadviser.com (“Websites”). By providing Personal Information to us, you agree to the terms and conditions of this Privacy Policy.</p>
			</div>
			<div class="col-sm-12 m-b-20">
				<strong>1) myhealthadviser May Collect "Personal Information,” that is information that identifies you as an individual, which may include:</strong>
				  <ul>
					<li>Name</li>
					<li>Address (including billing and shipping addresses)</li>
					<li>Telephone number</li>
					<li>Fax number</li>
					<li>Email address</li>
					<li>Credit or debit card number</li>
					<li>Geographic location</li>
					<li>Photographs</li>
					<li>Vehicle license number</li>
					<li>Vehicle registration number</li>
					<li>Police report</li>
				  </ul>
				  <p class="m-t-20">If you submit any Personal Information relating to other people to us or to any of the attorneys listed on the Website in connection with the Services, you represent that you have the authority to do so and to permit us to use the information in accordance with this Privacy Policy.</p>
			</div>
			<div class="col-sm-12 m-b-20">
				<strong>2) We and our service providers may collect Personal Information in a variety of ways, including:</strong>
				  <ul class="m-t-10">
					<li><strong>Through the Services:</strong> We may collect Personal Information submitted to us by you. This includes information concerning you and any potential case either as a plaintiff, defendant, or as a party.</li>
					<li><strong>Through Your Device via App.</strong> Information may include those downloaded from your mobile device including photographs, geo location tracking, text messages, or other information relevant to your case where you have permitted myhealthadviser to access and download.</li>
					<li><strong>From Other Sources:</strong> We may receive your Personal Information from other sources, such as public databases; joint marketing partners; social media platforms; from people with whom you are friends or otherwise connected on social media platforms, as well as from other third parties.</li>
					<li><strong>Cookies.</strong> We also collect certain information through the use of "cookies" and similar tracking technologies. Cookies are small data files that are stored on a user's computer or device at the request of a website to enable the website to recognize previous visitors and retain information such as user preferences and history</li>
				  </ul>
			</div>
		</div>
	</div>
</section>