<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Doctor by Cities</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60" ng-init="getStateList()">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 doctor-directory">
				 <ul class="state-place-list">
					<li  ng-repeat="city in stateList"><a ui-sref="doctors-directory({cityName:state.shortCode})"><i class="fa fa-square"></i>{{city.countryStateCityName}}({{city.count}})</a></li>					
				 </ul>
			</div>
		</div>
	</div>
</section>