<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Doctor by Cities</h2>
			</div>
		</div>
	</div>
</section>
\<section class="page-section padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 doctor-directory">
				 <ul class="state-place-list">
					<li><a ui-sref="doctors-directory"><i class="fa fa-square"></i>Adilabad</a></li>
					<li><a href=""><i class="fa fa-square"></i>Agra</a></li>
					<li><a href=""><i class="fa fa-square"></i>Ahmedabad</a></li>
					<li><a href=""><i class="fa fa-square"></i>Ahmednagar</a></li>
					<li><a href=""><i class="fa fa-square"></i>Aizawl</a></li>
					<li><a href=""><i class="fa fa-square"></i>Ajitgarh</a></li>
					<li><a href=""><i class="fa fa-square"></i>Ajmer</a></li>
					<li><a href=""><i class="fa fa-square"></i>Akola</a></li>
					<li><a href=""><i class="fa fa-square"></i>Alappuzha</a></li>
					<li><a href=""><i class="fa fa-square"></i>Aligarh</a></li>
					<li><a href=""><i class="fa fa-square"></i>Alirajpur</a></li>
					<li><a href=""><i class="fa fa-square"></i>Allahabad</a></li>
					<li><a href=""><i class="fa fa-square"></i>Bahraich</a></li>
					<li><a href=""><i class="fa fa-square"></i>Balaghat</a></li>
					<li><a href=""><i class="fa fa-square"></i>Balasore</a></li>
					<li><a href=""><i class="fa fa-square"></i>Balrampur</a></li>
					<li><a href=""><i class="fa fa-square"></i>Banaskantha</a></li>
					<li><a href=""><i class="fa fa-square"></i>Bandipora</a></li>
					<li><a href=""><i class="fa fa-square"></i>Chikkamagaluru</a></li>
					<li><a href=""><i class="fa fa-square"></i>Chitrakoot</a></li>
					<li><a href=""><i class="fa fa-square"></i>Cuttack</a></li>
					<li><a href=""><i class="fa fa-square"></i>Dahod</a></li>
					<li><a href=""><i class="fa fa-square"></i>Daman</a></li>
					<li><a href=""><i class="fa fa-square"></i>East Singhbhum</a></li>
					<li><a href=""><i class="fa fa-square"></i>Erode</a></li>
					<li><a href=""><i class="fa fa-square"></i>Etawah</a></li>
					<li><a href=""><i class="fa fa-square"></i>Faridkot</a></li>
					<li><a href=""><i class="fa fa-square"></i>Fatehgarh Sahib</a></li>
					<li><a href=""><i class="fa fa-square"></i>Fazilka</a></li>
					<li><a href=""><i class="fa fa-square"></i>Gadchiroli</a></li>
					<li><a href=""><i class="fa fa-square"></i>Gajapati</a></li>
					<li><a href=""><i class="fa fa-square"></i>Ganderbal</a></li>
					<li><a href=""><i class="fa fa-square"></i>Ganganagar</a></li>
					<li><a href=""><i class="fa fa-square"></i>Hamirpur</a></li>
					<li><a href=""><i class="fa fa-square"></i>Harda</a></li>
				 </ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<nav aria-label="Page navigation">
				  <ul class="pagination custom-pagination">
					<li>
					  <a href="#" aria-label="first">
						<span aria-hidden="true">First</span>
					  </a>
					</li>
					<li>
					  <a href="#" aria-label="Previous">
						<span aria-hidden="true">Previous</span>
					  </a>
					</li>
					<li><a href="#">1</a></li>
					<li><a class="active" href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
					  <a href="#" aria-label="Next">
						<span aria-hidden="true">Next</span>
					  </a>
					</li>
					<li>
					  <a href="#" aria-label="last">
						<span aria-hidden="true">Last</span>
					  </a>
					</li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</section>