<section class="inner-banner-section" ng-init="homeInit();doctorsList()">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Doctor by Cities</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-sm-3" ng-repeat="doctor in doctorList">
				<div class="cities-doctor">
					<div class="prof-img">
						<div ng-if="!doctor.photo" class="text">{{doctor.profile.name | getShortName}}</div>
						<img ng-if="doctor.photo" class="img-responsive" ng-src="{{doctor.photo}}" />
						<div class="content">
							 <a class="title" ui-sref="doctor-details({profileName:doctor.profile.profileName})">{{doctor.profile.name}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<paging
					page="startRecord" 
					page-size="resultCount" 
					total="totalPage"
					show-prev-next="true"
					show-first-last="true"
					paging-action="filterChanged(page)">
				</paging>
			</div>
		</div>
	</div>
</section>