<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Doctor by State</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60" ng-init="getStateList()">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 doctor-directory">
				 <ul class="state-place-list">
					<li ng-repeat="state in stateList"><a  ui-sref="city-directory({cityName:state.shortCode})"><i class="fa fa-square"></i>{{state.countryStateCityName}} ({{state.count}})</a></li>
				 </ul>
			</div>
		</div>
	</div>
</section>