<section class="validInfo-section validInfo-padd">
  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-offset-3">
          <h4> Validate your profile to take advantage in Doctor Listing</h4>
          <div class="form-group">
            <input type="text" name="criteria" class="form-control b-a h-40" placeholder="enter the 4 digit number sent to  your mobile" ng-model="claim.token">
          </div>
          <div class="clearfix">
            <button type="submit" class="btn btn-primary pull-left m-t-10" ui-sref="updateDoctorProfile">Skip</button>
            <button type="submit" class="btn btn-primary pull-right m-t-10" ng-click="verifyLawyer()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>