<section class="details-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="profile-image">
					<img class="img-responsive" src="images/doctor/doctor-1.jpg" />
				</div>
			</div>
			<div class="col-md-9">
				<div class="details-banner-content">
					<h3>Letisha Denise Bivins</h3>
					<div class="rating-star">
						<ul>
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star"></i></li>
							<li><i class="fa fa-star-o"></i></li>
							<li>12 Reviews</li>
						</ul>
					</div>
					<p>23 years Experience</p>
					<p>Fees - INR 300 /-</p>
					<div class="m-t-30 m-b-20">
						<a href="book-appointment.html" class="btn btn-blue btn-md m-r-5">Book Appointment</a>
						<a href="review.html" class="btn btn-white btn-md">Review a Doctor</a>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</section>
<section class="page-section-gray padd-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="details-leftbar">
					<h3>Contact info</h3>
					<div class="address-block">
						<p class="text-u-c"><i class="fa fa-map-marker"></i> Location</p>
						<address>Brookline Derm LLC 1208B Vfw Parkway, Suite 200, West Roxbury, MA 02132 (Map)</address>
					</div>
					<div class="address-line"></div>
					<div class="address-block">
						<p class="text-u-c"><i class="fa fa-clock-o"></i> Mon-Sun</p>
						11:00am - 2:00pm,<br/> 6:00pm - 9:00 pm
					</div>
					<div class="address-line"></div>
					<div class="address-block">
						<p class="text-u-c"><i class="fa fa-phone"></i> Phone</p>
						+91 7894561230
					</div>
					<div class="address-line"></div>
					<div class="address-block">
						<p class="text-u-c"><i class="fa fa-envelope"></i> Email</p>
						santoshm@gmail.com
					</div>
					<div class="address-line"></div>
					<div class="address-block">
						<p class="text-u-c"><i class="fa fa-desktop"></i> Website</p>
						<a href="">www.teknobiz.com</a>
					</div>
					<div class="address-line"></div>
					<div class="address-block">
						<p class="text-u-c"><i class="fa fa-user"></i> Social Profile</p>
						<ul class="social-address">
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							<li><a href=""><i class="fa fa-google-plus"></i></a></li>
						<ul>
					</div>
					<div class="clearfix m-t-30">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14969.21271310986!2d85.84351009999999!3d20.287714299999998!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1sen!2sin!4v1483627062127" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Information</h3>
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac felis rutrum, interdum enim a, vulputate nisi. Praesent ut posuere sapien, at scelerisque tellus. Vivamus ac felis rutrum, interdum enim a, vulputate nisi. Praesent ut posuere sapien, at scelerisque tellus. Praesent ut posuere sapien, at scelerisque tellus. Vivamus ac felis rutrum, interdum enim a, vulputate nisi. Praesent ut posuere sapien, at scelerisque tellus.vulputate nisi. Praesent ut posuere sapien, at scelerisque tellus. Praesent ut posuere sapien, at scelerisque tellus. Vivamus ac felis rutrum, interdum enim a, vulputate nisi. Praesent ut posuere sapien, at scelerisque tellus.
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Education</h3>
					</div>
					<div class="content">
						<ul class="timeline-v2 timeline-me">
							<li>
								<time datetime="" class="cbp_tmtime"><span>MDS Endodontist </span> <span>2012 - Current</span></time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<h2>The Oxford Dental College</h2>
									<p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
								</div>
							</li>
							<li>
								<time datetime="" class="cbp_tmtime"><span>Harvard Univarsity</span> <span>2007 - 2012</span></time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<h2>Advanced Aesthetics</h2>
									<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.</p>
								</div>
							</li>
							<li>
								<time datetime="" class="cbp_tmtime"><span>High School</span> <span>2003 - 2007</span></time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<h2>Toren Condo</h2>
									<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Experience</h3>
					</div>
					<div class="content">
						<ul class="timeline-v2 timeline-me">
							<li>
								<time datetime="" class="cbp_tmtime"><span>Appolo Hospital </span> <span>2015 - Current</span></time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<h2>Dentist Specalist</h2>
									<p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
								</div>
							</li>
							<li>
								<time datetime="" class="cbp_tmtime"><span>Sum Hospital </span> <span>2012 - 2015</span></time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<h2>Procedural Dermatology</h2>
									<p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
								</div>
							</li>
							<li>
								<time datetime="" class="cbp_tmtime"><span>Kalinga Hospital </span> <span>2010 - 2012</span></time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<h2>Laser and Cosmetic</h2>
									<p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
								</div>
							</li>
						
						</ul>
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Specialties</h3>
					</div>
					<div class="content">
						<ul class="specialist-list">
							<li><a href=""><i class="fa fa-angle-double-right"></i>Endodontist</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i>Aesthetic Dentist</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i>Dermatology</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i>Procedural Dermatology</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i>Laser and Cosmetic</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i>Endodontist</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i>Aesthetic Dentist</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i>Dermatology</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i>Procedural Dermatology</a></li>
							<li><a href=""><i class="fa fa-angle-double-right"></i>Laser and Cosmetic</a></li>
						</ul>
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Reviews</h3>
					</div>
					<div class="content">
						<ul class="timeline-v2 timeline-me">
							<li>
								<time datetime="" class="cbp_tmtime"><span>Santosh Majhi </span> 
									<span>
										<div class="review-rating">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
									</span>
								</time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<div class="rating-thumbs"><i class="fa fa-thumbs-o-up thumbs-up"></i> <small>3 days ago</small></div>
									<h2>Throat and Voice Problems, Tonsils (Tonsillitis) Treatment</h2>
									<p>Doctor saw the condition patiently, asked about medical history and lifesyle and then made an informed diagnosis. </p>
								</div>
							</li>
							<li>
								<time datetime="" class="cbp_tmtime"><span>Santosh Majhi </span> 
									<span>
										<div class="review-rating">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
									</span>
								</time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<div class="rating-thumbs"><i class="fa fa-thumbs-o-up thumbs-up"></i> <small>3 days ago</small></div>
									<h2>Throat and Voice Problems, Tonsils (Tonsillitis) Treatment</h2>
									<p>I liked the way he treated and preferred to keep the patient always informed. I will recommend him to others having an ENT conditions.</p>
								</div>
							</li>
							<li>
								<time datetime="" class="cbp_tmtime"><span>Santosh Majhi </span> 
									<span>
										<div class="review-rating">
											<ul>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
												<li><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
									</span>
								</time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<div class="rating-thumbs"><i class="fa fa-thumbs-o-down thumbs-down"></i> <small>3 days ago</small></div>
									<h2>Throat and Voice Problems, Tonsils (Tonsillitis) Treatment</h2>
									<p>Doctor saw the condition patiently, asked about medical history and lifesyle and then made an informed diagnosis.</p>
								</div>
							</li>
						</ul>
						<div class="clearfix text-center"><a class="text-u-l" href="">Load More</a></div>
					</div>
				</div>
				
				<div class="details-cardbox">
					<div class="head">
						<h3>Awards & Certificates</h3>
					</div>
					<div class="content">
						<div class="row">
							<div class="col-sm-4">
								<img src="images/award-1.jpg" />
							</div>
							<div class="col-sm-8">
								<div class="award-content">
									<h3>Best Doctors' innovative physician</h3>
									<span>2014</span>
									<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="light-gray-line"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<img src="images/award-2.jpg" />
							</div>
							<div class="col-sm-8">
								<div class="award-content">
									<h3>Best Doctors' innovative physician</h3>
									<span>2014</span>
									<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>