<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Update Profile</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60" ng-init="loadProfileDetails()">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
					  	<div class="panel-heading">
							<h4 class="panel-title">
							  <a ng-click="collapseSignUp('aboutme')"  ng-class="{collapsed:signupCollapse.aboutme}">
								About Me
							  </a>
							</h4>
					  	</div>
					  	<div id="collapseOne" class="panel-collapse collapse in" uib-collapse="signupCollapse.aboutme">
							<div class="panel-body padd-0">
								<ul class="nav nav-tabs nav-collapse">
								  <li role=presentation  id="l1" class=active><a href=""  ng-click="showtab('basic-tab')" id="basic-tab" role=tab data-toggle=tab aria-controls=basic aria-expanded=true>Basic Profile</a></li>
									<li role=presentation  id="l2" ><a  href="" ng-click="showtab('specialization-tab')" role=tab id="specialization-tab" data-toggle=tab aria-controls=specialization>Specialization</a></li>
									<li role=presentation  id="l3"><a   href="" ng-click="showtab('social-tab')" role=tab id="social-tab" data-toggle=tab aria-controls=social> Social Media</a></li>
								</ul>
								<div class="tab-content">
							  		<div role=tabpanel id="div_basic-tab" class="tab-pane active" aria-labelledby=basic-tab>
										<div class="row">
										  	<div class="col-sm-3">
											  	<div class="profile-upload">
													<h1 ng-if="!profileDetails.photo">{{profileDetails.profile.name | getShortName}}</h1>
													<img ng-if="profileDetails.photo" class="img-responsive" src="{{profileDetails.photo}}">
											  	</div>
												<div class="row">
													<div class="col-sm-12 m-t-10 text-center">
													  <button class="btn btn-blue btn-sm">Upload</button>
													  <button class="btn btn-red btn-sm">Cancel</button>
													</div>
												</div>
										  	</div>
								  			<div class="col-sm-9">
												<div class="row">
													<div class="col-sm-6">
														<div class="form-group">
															<label>First Name</label>
															<input type="text" class="form-control" id="" ng-model="profileDetails.profile.fName" placeholder="First Name">
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label>Last Name</label>
															<input type="text" class="form-control" id="" ng-model="profileDetails.profile.lName" placeholder="Last Name">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-6">
														<div class="form-group">
															<label>Email</label>
															<input type="text" class="form-control" id="" placeholder="" ng-model="profileDetails.emailId" readonly>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label class="control-label">Can Provide Free Consulation?</label>
															<div class="row">
																<div class="h-40 col-md-3">
																	<div class="onoffswitch">
																		<input type="checkbox" ng-model="lawyerProfile.consultation.free_consultation" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
																		<label class="onoffswitch-label" for="myonoffswitch">
																			<span class="onoffswitch-inner"></span>
																			<span class="onoffswitch-switch"></span>
																		</label>
																	</div>
													            </div>
													            <div class="col-md-4">
													            <input type="number" class="form-control" id="" placeholder="">
													            </div>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label>Street</label>
													<input type="text" class="form-control" id="street" placeholder="" ng-model="profileDetails.address.streetAddress">
												</div>
												<div class="row">
													<div class="col-sm-4">
														<div class="form-group">
															<label>City</label>
															<input type="text" class="form-control" id="" placeholder="" ng-model="profileDetails.address.city">
														</div>
													</div>
													<div class="col-sm-4">
														<div class="form-group">
															<label>State</label>
															<input type="text" class="form-control" id="" placeholder="" ng-model="profileDetails.address.state">
														</div>
													</div>
													<div class="col-sm-4">
														<div class="form-group">
															<label>Zip</label>
															<input type="text" class="form-control" id="" placeholder="" ng-model="profileDetails.address.postalCode">
														</div>
													</div>
												</div>
											<div class="form-group">
												<label>Address</label>
												<textarea class="form-control" rows="4" placeholder="Comments..."></textarea>
											</div>
											<div class="row">
												<div class="col-sm-12 m-t-10 text-right">
												  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
												  <button class="btn btn-red btn-md text-u-c">Cancel</button>
												</div>
											</div>
								  		</div>
									</div>
							  	</div>
							  	<div role=tabpanel id="div_specialization-tab" class="tab-pane"  aria-labelledby=specialization-tab>


									<div class="row" ng-init="loadSpecialization();">
										<div class="col-sm-5">
											<div class="form-group">
												<label>Specialization</label>
												<input class="form-control" name="specialize" type="text" placeholder="Choose Specialization" ng-model="doctor.specialization" typeahead="spe for spe in specializationList | filter:$viewValue" class="form-control">
											</div>
										</div>
										<div class="col-sm-5">
											<div class="form-group">
												<label>Specialization Years</label>
												<input type="number" class="form-control" id="" placeholder="Enter Specialization Year" ng-model="doctor.year">
											</div>
										</div>
										<div class="col-sm-2">
											<button ng-disabled="!doctor.specialization || !doctor.year" class="btn btn-blue spec-ok-btn" ng-click="updateSpecialization()"><i class="fa fa-check"></i></button>
										</div>
										<div class="col-sm-11">
											<table class="table table-striped">
												<tbody ng-repeat="spe in profileDetails.specialization">
													<tr>
														<td style="width:70%; vertical-align:middle;">{{spe.specializationOn}}</td>
														<td style="width:20%; vertical-align:middle;">{{spe.yearsOfExperience}}</td>
														<td align="right" style="padding: 8px 22px;"><button ng-click="clearSpecializationOn($index)"class="btn btn-danger spec-danger-btn"><i class="fa fa-close"></i></button></td>
													</tr>
												</tbody>
											</table>
										</div>


									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>Year of Experience</label>
												<input type="text" class="form-control" id="" placeholder="Choose Practice Area">
											</div>
										</div>
										<div class="col-sm-6" ng-init="loadLanguages();">
											<div class="form-group">
												<label>Enter Languages</label>
												<input type="text" class="form-control" id="" placeholder="Enter Practice Area Year">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label>Life Event</label>
												<input type="text" class="form-control" id="" placeholder="Enter Practice Area Year">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 m-t-10 text-right">
										  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
										  <button class="btn btn-red btn-md text-u-c">Cancel</button>
										</div>
									</div>
							  	</div>
							  	<div role=tabpanel class="tab-pane fade" id="div_social-tab" aria-labelledby=social-tab>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat</p>
							  	</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
					  	<div class="panel-heading">
							<h4 class="panel-title">
							  	<a ng-click="collapseSignUp('workExperiance')"  ng-class="{collapsed:signupCollapse.workExperiance}">
									Work Experience
							  	</a>
							</h4>
					  	</div>
					  	<div id="collapseTwo" class="panel-collapse collapse" uib-collapse="signupCollapse.workExperiance">
							<div class="panel-body">

								<div class="tab-custom-icon">
									<a href=""><i class="fa fa-edit"></i> </a>
									<a href=""><i class="fa fa-trash"></i> </a>
								</div>
								<div class="form-block-wrap">
									<h3 class="pull-left">Teknobiz</h3>
									<span class="pull-right">2016, January</span>
									<p class="p-t-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam maximus fringilla libero, non volutpat mi pretium sit amet. Aenean odio erat, commodo ut metus vel, malesuada mollis ipsum. Phasellus quis nunc a nibh gravida faucibus. </p>
								</div>
								<div class="form-block-wrap">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>Company Name</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Designation</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>Start Month/Year</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>End Month/Year</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group">
												<label>Work experience description</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 m-t-10 text-right">
										  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
										  <button class="btn btn-red btn-md text-u-c">Cancel</button>
										</div>
									</div>
								</div>
								<a href="" class="btn btn-success btn-md text-u-c m-t-10"><i class="fa fa-plus"></i> Add New Work Experience</a>
							</div>
					  	</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							  <a ng-click="collapseSignUp('education')"  ng-class="{collapsed:signupCollapse.education}">
								Education
							  </a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" uib-collapse="signupCollapse.education">
							<div class="panel-body">
								<div class="tab-custom-icon">
									<a href=""><i class="fa fa-edit"></i> </a>
									<a href=""><i class="fa fa-trash"></i> </a>
								</div>
								<div class="form-block-wrap">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>School Name</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Degree</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>Major</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Graduation Year</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 m-t-10 text-right">
										  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
										  <button class="btn btn-red btn-md text-u-c">Cancel</button>
										</div>
									</div>
								</div>
								<a href="" class="btn btn-success btn-md text-u-c m-t-10"><i class="fa fa-plus"></i> Add New Work Experience</a>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
							  <a ng-click="collapseSignUp('awards')"  ng-class="{collapsed:signupCollapse.awards}">
								Awards
							  </a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" uib-collapse="signupCollapse.awards">
							<div class="panel-body">
								<div class="tab-custom-icon">
									<a href=""><i class="fa fa-edit"></i> </a>
									<a href=""><i class="fa fa-trash"></i> </a>
								</div>
								<div class="form-block-wrap">
									<div class="row">
										<div class="col-sm-4">
											<div class="form-group">
												<label>Upload Logo</label>
												<div class="fileUpload btn btn-md btn-block btn-white b-a">
													<span>Upload Logo</span>
													<input type="file" class="upload" name="resume">
												</div>
											</div>
										</div>
										<div class="col-sm-8">
											<div class="form-group">
												<label>Award Name</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>Awarded By</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Awarded Year</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 m-t-10 text-right">
										  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
										  <button class="btn btn-red btn-md text-u-c">Cancel</button>
										</div>
									</div>
								</div>
								<a href="" class="btn btn-success btn-md text-u-c m-t-10"><i class="fa fa-plus"></i> Add New Work Experience</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
