<section class="details-banner-section" ng-init="loadDoctorDetails()">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="profile-image">
					<div ng-if="!doctorDetails.photo" class="text">{{doctorDetails.profile.name | getShortName}}</div>
					<img ng-if="doctorDetails.photo" class="img-responsive" ng-src="{{doctorDetails.photo}}" />
				</div>
			</div>
			<div class="col-md-9" ng-if="doctorDetails">
				<div class="details-banner-content">
					<h3>{{doctorDetails.profile.name}}</h3>
					<div class="rating-star" ng-init="getRatings(doctorDetails)">
						<ul>
							<li ng-repeat="star in doctorDetails.ratingArr track by $index">
		                      <i class="{{star}}"></i>
		                    </li>
							<li class="m-l-5">{{doctorDetails.totalReview}} Reviews</li>
						</ul>
					</div>
					<p ng-if="doctorDetails.yearsOfExperience">{{doctorDetails.yearsOfExperience}} years Experience</p>
					<p ng-if="!doctorDetails.consulation.is_free_consultation">Fees - INR {{doctorDetails.consulation.fees}} /-</p>
					<div class="m-t-30 m-b-20">
						<a ng-if="signed_doctor" class="btn btn-blue btn-md">Book Appointment</a>
						<a ng-if="signed_doctor" ui-sref="review-doctor({profileName:doctorDetails.profile.profileName})" class="btn btn-white btn-md">Review a Doctor</a>
						<a ng-if="signed_doctor && logedInUser.isDoctor" ui-sref="endorse-doctor({profileName:doctorDetails.profile.profileName})" class="btn btn-yellow btn-md">Endorse this Doctor</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<section class="page-section-gray padd-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="details-leftbar">
					<h3>Contact info</h3>
					<div class="address-block">
						<p class="text-u-c"><i class="fa fa-map-marker"></i> Location</p>
						<address>{{doctorDetails.address.formatted}}</address>
					</div>
					<div class="address-line"></div>
					<div class="address-block">
						<div class="clearfix m-b-10" ng-repeat="time in doctorDetails.timing">
							<strong class="text-u-c clearfix block">{{time.day}}</strong>
							<span>{{time.from | timeFormat}} - {{time.to | timeFormat}}</span>
						</div>
					</div>
					<div class="address-line" ng-if="doctorDetails.phone.length > 0"></div>
					<div class="address-block" ng-if="doctorDetails.phone.length > 0">
						<p class="text-u-c"><i class="fa fa-phone"></i> Phone</p>
						+91 {{doctorDetails.phone[0].number | phonenumber}}
					</div>
					<div class="address-line" ng-if="doctorDetails.email"></div>
					<div class="address-block" ng-if="doctorDetails.email">
						<p class="text-u-c"><i class="fa fa-envelope"></i> Email</p>
						{{doctorDetails.email}}
					</div>
					<div class="address-line" ng-if="doctorDetails.website"></div>
					<div class="address-block" ng-if="doctorDetails.website">
						<p class="text-u-c"><i class="fa fa-desktop"></i> Website</p>
						<a href="{{doctorDetails.website}}" target="_blank">{{doctorDetails.website}}</a>
					</div>
					<div class="address-line"></div>
					<div class="address-block">
						<p class="text-u-c"><i class="fa fa-user"></i> Social Profile</p>
						<ul class="social-address">
							<li ng-if=doctorDetails.socialLink.FACEBOOK><a href="{{doctorDetails.socialLink.FACEBOOK}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li ng-if=doctorDetails.socialLink.TWITTER><a href="{{doctorDetails.socialLink.TWITTER}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li ng-if=doctorDetails.socialLink.GPLUS><a href="{{doctorDetails.socialLink.GPLUS}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
							<li ng-if=doctorDetails.socialLink.PINTEREST><a href="{{doctorDetails.socialLink.PINTEREST}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
							<li ng-if=doctorDetails.socialLink.LINKEDIN><a href="{{doctorDetails.socialLink.LINKEDIN}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						<ul>
					</div>
					<div class="clearfix m-t-30">
						<div id="googleMap"></div>
						<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14969.21271310986!2d85.84351009999999!3d20.287714299999998!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1sen!2sin!4v1483627062127" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Information</h3>
					</div>
					<div class="content">
						{{doctorDetails.profile.about}}
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Education</h3>
					</div>
					<div class="content">
						<ul class="timeline-v2 timeline-me">
							<li ng-repeat="edu in doctorDetails.education">
								<time datetime="" class="cbp_tmtime"><span>{{edu.educationType}}</span> <span>{{edu.date | dateYear}}</span></time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<h2>{{edu.university}}</h2>
									<p>{{edu.description}}</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Experience</h3>
					</div>
					<div class="content">
						<ul class="timeline-v2 timeline-me">
							<li ng-repeat="experiance in doctorDetails.experience">
								<time datetime="" class="cbp_tmtime"><span>{{experiance.organizationName}} </span> <span>{{experiance.dateFrom | dateYear}} - {{experiance.dateTo | dateYear}}</span></time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<h2>{{experiance.designation}}</h2>
									<p>{{experiance.description}}</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Specialties</h3>
					</div>
					<div class="content">
						<ul class="specialist-list">
							<li ng-repeat="spe in doctorDetails.specialization"><a href=""><i class="fa fa-angle-double-right"></i>{{spe.specializationOn}}</a></li>
						</ul>
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Endorsement</h3>
					</div>
					<div class="content">
						<div class="clearfix" ng-repeat="endorse in doctorDetails.endrosement">
							<div class="row" >
								<div class="col-sm-2">
									<div class="endorsement-profile-img">
										<img ng-if="endorse.userPhoto" class="img-responsive" src="{{endorse.userPhoto}}" />
										<span ng-if="!endorse.userPhoto">{{endorse.userName | getShortName}}</span>
									</div>
								</div>
								<div class="col-sm-10">
									<div class="endorsement-content">
										<h3>{{endorse.userName}}</h3>
										<div class="rating-thumbs"><i class="fa fa-thumbs-o-down thumbs-down"></i> <small><time relative datetime="{{endorse.date}}"></time></small></div>
										<p>{{endorse.description}}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="endorsement-gray-line"></div>
								</div>
							</div>
						</div>
						<!-- <div class="clearfix text-center"><a class="text-u-l" href="">Load More</a></div> -->
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>License</h3>
					</div>
					<div class="content">
						<div class="row">
							<div class="col-sm-6" ng-repeat="license in doctorDetails.license">
								<div class="profile-licence-box">
									<dl class="dl-horizontal">
										<dt>No :</dt>
										<dd>{{license.licenseNumber}}</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt>Issue On :</dt>
										<dd>{{license.issueDate | dateformat1}}</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt>Expired On :</dt>
										<dd>{{license.expiryDate | dateformat1}}</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Association</h3>
					</div>
					<div class="content">
						<div class="row">
							<div class="col-sm-6" ng-repeat="asso in doctorDetails.association">
								<div class="profile-licence-box">
									<h4>{{asso.associationName}}</h4>
									<dl class="dl-horizontal">
										<dt>Position :</dt>
										<dd>{{asso.position}}</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt>Start Month/Year :</dt>
										<dd>{{asso.startDate | dateformat1}}</dd>
									</dl>
									<dl class="dl-horizontal">
										<dt>End Month/Year :</dt>
										<dd>{{asso.endDate | dateformat1}}</dd>
									</dl>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Engagements</h3>
					</div>
					<div class="content">
						<ul class="timeline-v2 timeline-me">
							<li ng-repeat="conference in doctorDetails.conference">
								<time datetime="" class="cbp_tmtime"><span>{{conference.conferenceName}} </span> <span>{{conference.startDate | yearMonth}}</span></time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<h2>Location - {{conference.location}}</h2>
									<p>{{conference.topic}}</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="details-cardbox m-b-20">
					<div class="head">
						<h3>Reviews</h3>
					</div>
					<div class="content">
						<ul class="timeline-v2 timeline-me">
							<li ng-repeat="review in doctorDetails.review">
								<time datetime="" class="cbp_tmtime"><span>{{review.userName}}</span>
									<span>
										<div class="review-rating">
											<ul ng-init="reviewRatings(review)">
												<li ng-repeat="star in review.ratingArr track by $index"><i class="{{star}}"></i></li>
											</ul>
										</div>
									</span>
								</time>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel">
									<div class="rating-thumbs"><i class="fa fa-thumbs-o-up thumbs-up"></i> <small><time relative datetime="{{review.date}}"></time></small></div>
									<h2>{{review.title}}</h2>
									<p>{{review.review}}</p>
								</div>
							</li>
						</ul>
						<!-- <div class="clearfix text-center"><a class="text-u-l" href="">Load More</a></div> -->
					</div>
				</div>
				<div class="details-cardbox">
					<div class="head">
						<h3>Awards & Certificates</h3>
					</div>
					<div class="content">
						<div ng-repeat="award in doctorDetails.award">
							<div class="row" >
								<div class="col-sm-4">
									<img ng-if="!award.image" class="full-width" src="images/award-1.jpg" />
									<img ng-if="award.image" class="full-width" src="{{award.image}}" />
								</div>
								<div class="col-sm-8">
									<div class="award-content">
										<h3>{{award.awardFor}}</h3>
										<span>{{award.awardDate | dateYear}}</span>
										<p>{{award.description}}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="light-gray-line"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
