<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Update Profile</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
					  <div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
							About Me
						  </a>
						</h4>
					  </div>
					  <div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body padd-0">
							<ul class="nav nav-tabs nav-collapse">
							  <li class="active"><a href="#basicProfile" data-toggle="tab"><strong>Basic Profile</strong></a></li>
							  <li><a href="#specialization" data-toggle="tab"><strong>Specialization</strong></a></li>
							  <li><a href="#socialMedia" data-toggle="tab"><strong>Social Media</strong></a></li>
							</ul>
							<div class="tab-content">
							  <div class="tab-pane active" id="basicProfile">
								<div class="row">
								  <div class="col-sm-3">
									  <div class="profile-upload">
										<!-- <h1>SM</h1> -->
										<img class="img-responsive" src="images/doctor/doctor-1.jpg">
									  </div>
										<div class="row">
											<div class="col-sm-12 m-t-10 text-center">
											  <button class="btn btn-blue btn-sm">Upload</button>
											  <button class="btn btn-red btn-sm">Cancel</button>
											</div>
										</div>
								  </div>
								  <div class="col-sm-9">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>First Name</label>
												<input type="text" class="form-control" id="" placeholder="First Name">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Last Name</label>
												<input type="text" class="form-control" id="" placeholder="Last Name">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>Company Name</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Can Provide Free Consulation?</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>Phone</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Email</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Street</label>
										<input type="text" class="form-control" id="" placeholder="">
									</div>
									<div class="row">
										<div class="col-sm-4">
											<div class="form-group">
												<label>City</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<label>State</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<label>Zip</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label>Address</label>
										<textarea class="form-control" rows="4" placeholder="Comments..."></textarea>
									</div>
									<div class="row">
										<div class="col-sm-12 m-t-10 text-right">
										  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
										  <button class="btn btn-red btn-md text-u-c">Cancel</button>
										</div>
									</div>
									
								  </div>
								</div>
								
							  </div>
							  <div class="tab-pane" id="specialization">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Practice Areas</label>
											<input type="text" class="form-control" id="" placeholder="Choose Practice Area">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Practice Area By Years</label>
											<input type="text" class="form-control" id="" placeholder="Enter Practice Area Year">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Practice Areas</label>
											<input type="text" class="form-control" id="" placeholder="Choose Practice Area">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Practice Area By Years</label>
											<input type="text" class="form-control" id="" placeholder="Enter Practice Area Year">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label>Practice Area By Years</label>
											<input type="text" class="form-control" id="" placeholder="Enter Practice Area Year">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 m-t-10 text-right">
									  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
									  <button class="btn btn-red btn-md text-u-c">Cancel</button>
									</div>
								</div>
							  </div>
							  <div class="tab-pane" id="socialMedia">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat</p>
						
							  </div>
						
							</div>
						  
						</div>
					  </div>
					</div>
					<div class="panel panel-default">
					  <div class="panel-heading">
						<h4 class="panel-title">
						  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">
							Work Experience
						  </a>
						</h4>
					  </div>
					  <div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="tab-custom-icon">
								<a href=""><i class="fa fa-edit"></i> </a>
								<a href=""><i class="fa fa-trash"></i> </a>
							</div>
							<div class="form-block-wrap">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Company Name</label>
											<input type="text" class="form-control" id="" placeholder="">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Designation</label>
											<input type="text" class="form-control" id="" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Start Month/Year</label>
											<input type="text" class="form-control" id="" placeholder="">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>End Month/Year</label>
											<input type="text" class="form-control" id="" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label>Work experience description</label>
											<input type="text" class="form-control" id="" placeholder="">
										</div>
									</div>
								</div>
								<div class="row">	
									<div class="col-sm-12 m-t-10 text-right">
									  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
									  <button class="btn btn-red btn-md text-u-c">Cancel</button>
									</div>
								</div>
							</div>
							<a href="" class="btn btn-success btn-md text-u-c m-t-10"><i class="fa fa-plus"></i> Add New Work Experience</a>
						</div>
					  </div>
					</div>
						<div class="panel panel-default">
						  <div class="panel-heading">
							<h4 class="panel-title">
							  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">
								Education
							  </a>
							</h4>
						  </div>
						  <div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="tab-custom-icon">
									<a href=""><i class="fa fa-edit"></i> </a>
									<a href=""><i class="fa fa-trash"></i> </a>
								</div>
								<div class="form-block-wrap">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>School Name</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Degree</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>Major</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Graduation Year</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 m-t-10 text-right">
										  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
										  <button class="btn btn-red btn-md text-u-c">Cancel</button>
										</div>
									</div>
								</div>
								<a href="" class="btn btn-success btn-md text-u-c m-t-10"><i class="fa fa-plus"></i> Add New Work Experience</a>
							</div>
						  </div>
						</div>

						<div class="panel panel-default">
						  <div class="panel-heading">
							<h4 class="panel-title">
							  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFour">
								Awards
							  </a>
							</h4>
						  </div>
						  <div id="collapseFour" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="tab-custom-icon">
									<a href=""><i class="fa fa-edit"></i> </a>
									<a href=""><i class="fa fa-trash"></i> </a>
								</div>
								<div class="form-block-wrap">
									<div class="row">
										<div class="col-sm-4">
											<div class="form-group">
												<label>Upload Logo</label>
												<div class="fileUpload btn btn-md btn-block btn-white b-a">
													<span>Upload Logo</span>
													<input type="file" class="upload" name="resume">
												</div>
											</div>
										</div>
										<div class="col-sm-8">
											<div class="form-group">
												<label>Award Name</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label>Awarded By</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label>Awarded Year</label>
												<input type="text" class="form-control" id="" placeholder="">
											</div>
										</div>	
									</div>
									<div class="row">									
										<div class="col-sm-12 m-t-10 text-right">
										  <button class="btn btn-blue btn-md text-u-c">Save Change</button>
										  <button class="btn btn-red btn-md text-u-c">Cancel</button>
										</div>
									</div>
								</div>
								<a href="" class="btn btn-success btn-md text-u-c m-t-10"><i class="fa fa-plus"></i> Add New Work Experience</a>
							</div>
						  </div>
						</div>
				  </div>
			</div>
		</div>
	</div>
</section>