<section class="inner-banner-section" ng-init="homeInit()">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<label>What do you need help with today?</label>
			</div>
			<form name="searchFrm">
				<div class="row m-t-30">
					<div class="col-md-4">
						<div class="form-group">
							<i class="fa fa-map-marker map-marker-icon"></i>
							<input type="text" class="form-control" id="main_loc" placeholder="Location" ng-model="home.location" required>
							<i class="fa fa-close input-icon" ng-click="clearInputs('loc')"></i>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<i class="fa fa-search search-icon"></i>
							<input type="text" class="form-control" placeholder="Name / Specialization" ng-model="home.doctorName" required>
							<i class="fa fa-close input-icon" ng-click="clearInputs('name')"></i>
						</div>
					</div>
					<div class="col-md-2">
						<button class="btn btn-black btn-md text-u-c" ng-disabled="searchFrm.$invalid" ng-click="do_search()">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<section class="page-section padd-v-60" ng-init="initListing()">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="row m-b-10">
					<div class="col-md-9">
						{{doctorList.totalResultCount}} doctors matching criteria {{searchData.searchText}} near {{searchData.place.formatted_address}}
					</div>
				</div>
				<div class="row m-b-10" ng-if="doctorList.result.length > 0">
					<div class="col-md-9">
						<paging
						    page="paging.currentPage" 
						    page-size="paging.showResult" 
						    total="paging.totalPage"
						    show-prev-next="true"
							show-first-last="true"
						    paging-action="filterChanged(page)">
						</paging>
					</div>
					<div class="col-md-3 sort-by">
						<select class="form-control form-control-sm" ng-model="list.sortBy">
						  <option value="">Sort By</option>
						  <option value="profile.name">Name</option>
						  <option value="distance">Distance</option>
						  <option value="avgRating">Rating</option>
						</select>
					</div>
				</div>
				<div class="doctor-list-box" ng-repeat="doctor in doctorList.result | orderBy: list.sortBy" >
					<div class="row">
						<div class="m-l-10">
							<div class="col-sm-2 m-t-10">
								<div class="listing-img">
									<div ng-if="!doctor.photo" class="text">{{doctor.profile.name | getShortName}}</div>
									<img ng-if="doctor.photo" class="img-responsive" ng-src="{{doctor.photo}}" />
								</div>
								<a href="" ng-click="showCompare('show',doctor)" class="btn btn-warning btn-sm text-u-c m-t-10 btn-block">Compare</a>
								<div class="rating-icons" ng-init="getRatings(doctor)">
									<ul>
										<li ng-repeat="star in doctor.ratingArr track by $index">
					                      <i class="{{star}}"></i>
					                    </li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6 m-t-10">
								<a ui-sref="doctor-details({profileName:doctor.profile.profileName})"><h3>{{doctor.profile.name}}</h3></a>
								<div class="clearfix">
									<strong>Specialties :</strong>
									<span class="text-gray">{{doctor.specializationArray}}</span>
								</div>
								<div class="clearfix">
									<strong>Locations :</strong>
									<p>{{doctor.address.formatted}}</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="doctor-fees m-b-20">
									<ul>
										<li>{{doctor.yearsOfExperience}} years Experience</li>
										<li ng-if="!doctor.consulation.is_free_consultation"><span class="font-bold">Fees</span> - INR  {{doctor.consulation.fees}} /-</li>
										<li ng-if="doctor.consulation.is_free_consultation"><span class="font-bold">Free Consulation</li>
									</ul>
								</div>
								<a href="book-appointment.html" class="btn btn-blue btn-sm text-u-c">Book Appointment</a>
							</div>
						</div>
						<div class="col-sm-12 m-t-10">
							<ul>
								<li ng-if="doctor.phone.length > 0"><i class="fa fa-phone"></i> +91 {{doctor.phone[0].number}}</li>
								<li ng-if="doctor.website"><a href="{{doctor.website}}"><i class="fa fa-globe"></i> Website</a></li>
								<li><a href="" ng-click="goToDirection(doctor)"><i class="fa fa-map-marker"></i> Direction</a></li>
								<li><a href=""><i class="fa fa-star"></i>Write Review</a></li>
								<li><a href="" ng-click="downloadVCard(doctor)"><i class="fa fa-id-card" aria-hidden="true"></i>VCard</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<nav class="ld-padd-20" ng-if="doctorList.result.length > 0">
				            <paging
							    page="paging.currentPage" 
							    page-size="paging.showResult" 
							    total="paging.totalPage"
							    show-prev-next="true"
								show-first-last="true"
							    paging-action="filterChanged(page)">
							</paging>
				         </nav>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="doctor-list-right-section">
					<div class="clearfix">
						<h3>Distance</h3>
						<div class="block-padd">
							<div class="form-group">
								<select class="form-control form-control-sm" ng-model="filter.distance" ng-change="filterChanged()">
								  <option value="">Distance Filter</option>
								  <option value="{{miles.name}}" ng-repeat="miles in doctorList.distanceCount">{{miles.name}} Miles ({{miles.count}})</option>
								</select>
							</div>
						</div>
					</div>
					<div class="clearfix m-t-10">
						<h3>Language</h3>
						<div class="block-padd">
							<div class="radio radio-black">
								<div class="checkbox check-black" ng-repeat="lang in doctorList.language">
									<input ng-disabled="lang.count == 0" type="checkbox"  value="{{lang.language}}" id="checkbox_{{$index}}" ng-model="filter.languages[lang.language]" ng-click="filterChanged()">
									<label for="checkbox_{{$index}}">{{lang.language}} ({{lang.count}})</label>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix m-t-10">
						<h3>Rating</h3>
						<div class="block-padd filter-rating">
							<div class="radio radio-black">
								<div class="checkbox check-black" ng-repeat="rating in doctorList.ratingCount">
									<input type="checkbox"  value="1" id="rating_{{$index}}" ng-model="filter.rating[rating.star]" ng-click="filterChanged()">
									<label for="rating_{{$index}}"><i class="fa fa-star" ng-repeat="i in numberToArray(rating.star) track by $index"></i><span class="m-l-20">({{rating.count}})</span></label>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix m-t-10">
						<h3>Specialization</h3>
						<div class="block-padd">
							<div class="checkbox check-black" ng-repeat="spe in doctorList.specializationCount">
								<input type="checkbox" ng-disabled="spe.count == 0" value="{{spe.name}}" id="spe_{{$index}}" ng-model="filter.specialization[spe.name]" ng-click="filterChanged()">
								<label for="spe_{{$index}}">{{spe.name}} ({{spe.count}})</label>
							</div>
							<div class="clearfix m-t-30">
								<a class="text-u-l" href="">Clear All</a>
							</div>
						</div>
					</div>
					
					<div class="clearfix m-t-10">
						<div id="googleMap"></div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="row" ng-if="showCompareBox">
			<div class="col-md-12">
				<div class="compare-popup-box">
					<ul>
						<li ng-repeat="comDoc in compareDoctorArr">
							<a class="buttonCloseIcon" href="" ng-if="comDoc.userCode" ng-click="closeDoctorCompare($index)"><i class="fa fa-close"></i></a> 
							<a href="">
								<img class="img-responsive" ng-if="comDoc.photo" src="comDoc.photo">
								<span class="doctor-alfa" ng-if="!comDoc.photo">{{comDoc.profile.name | getShortName}}</span>
							</a> 
							<span class="text-ellipsis">{{comDoc.profile.name}}</span>
						</li>
					</ul>
					<div class="compare-btn">
						<a class="btn btn-primary btn-sm" href="" role="button" ng-click="doCompare()">Compare</a>
						<a class="btn btn-danger btn-sm" role="button" ng-click="showCompare('clear')">Clear</a>
					  </div>
					<a class="compare-close-btn buttonCloseIcon" href="" ng-click="closeCompare()">
						<i class="fa fa-close"></i>
					  </a>
				</div>
			</div>
		</div>
	</div>
</section>