<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Contact Us</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<form name="contactFrm">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Name</label>
								<input type="text" name="name" class="form-control" id="" placeholder="Name" ng-model="contact.name" required>
								<span class="color-red" ng-if="contactFrm.name.$touched && contactFrm.name.$error.required">Please enter your name</span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Email</label>
								<input type="text" name ="email" class="form-control" id="" placeholder="Email" ng-model="contact.email" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
								<span class="color-red" ng-if="contactFrm.email.$touched && contactFrm.email.$error.required">Please enter mail</span>
								<span class="color-red" ng-if="contactFrm.email.$touched && contactFrm.email.$error.pattern">Enter valid email address</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input class="form-control" ui-mask="999-999-9999" placeholder="xxx-xxx-xxxx" ng-model="contact.phone"
			            />
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Subject</label>
								<input type="text" class="form-control" placeholder="Subject" id="" ng-model="contact.subject" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>User Type</label>
								<select class="form-control" ng-model="contact.type" required>
								  <option value="">User Type</option>
								  <option value="Doctor">Doctor</option>
								  <option value="User">User</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Message</label>
						<textarea class="form-control" rows="4" placeholder="Question/Comments/Suggestions" ng-model="contact.comment" required></textarea>
					</div>
					<div class="form-group text-right">
						<button class="btn btn-blue btn-md text-u-c m-r-5" ng-disabled="contactFrm.$invalid" ng-click="sendEnquiry()">Send <i class="fa fa-send-o"></i></button>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<div class="clearfix">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14969.21271310986!2d85.84351009999999!3d20.287714299999998!3m2!1i1024!2i768!4f13.1!4m3!3e6!4m0!4m0!5e0!3m2!1sen!2sin!4v1483627062127" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			
			
		</div>
	</div>
</section>
