<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Doctor Specialization</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 doctor-directory">
				 <ul class="state-place-list">
				 
					<li><a href="doctor-list.html"><i class="fa fa-square"></i>Addiction psychiatrist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Adolescent medicine specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Allergist (immunologist)</a></li>
					<li><a href=""><i class="fa fa-square"></i>Anesthesiologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Cardiac electrophysiologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Cardiologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Cardiovascular surgeon</a></li>
					<li><a href=""><i class="fa fa-square"></i>Colon and rectal surgeon</a></li>
					<li><a href=""><i class="fa fa-square"></i>Critical care medicine specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Dermatologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Developmental pediatrician</a></li>
					<li><a href=""><i class="fa fa-square"></i>Emergency medicine specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Endocrinologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Family medicine physician</a></li>
					<li><a href=""><i class="fa fa-square"></i>Forensic pathologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Gastroenterologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Geriatric medicine specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Gynecologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Gynecologic oncologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Hand surgeon</a></li>
					<li><a href=""><i class="fa fa-square"></i>Hematologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Hepatologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Hospitalist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Hospice and palliative medicine specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Hospice and palliative medicine specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Hyperbaric physician</a></li>
					<li><a href=""><i class="fa fa-square"></i>Infectious disease specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Internist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Interventional cardiologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Medical examiner</a></li>
					<li><a href=""><i class="fa fa-square"></i>Medical geneticist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Neonatologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Nephrologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Neurological surgeon</a></li>
					<li><a href=""><i class="fa fa-square"></i>Neurologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Nuclear medicine specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Obstetrician</a></li>
					<li><a href=""><i class="fa fa-square"></i>Occupational medicine specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Oncologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Ophthalmologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Oral surgeon (maxillofacial surgeon)</a></li>
					<li><a href=""><i class="fa fa-square"></i>Orthopedic surgeon</a></li>
					<li><a href=""><i class="fa fa-square"></i>Otolaryngologist (ear, nose, and throat specialist)</a></li>
					<li><a href=""><i class="fa fa-square"></i>Pain management specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Pathologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Pediatrician</a></li>
					<li><a href=""><i class="fa fa-square"></i>Perinatologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Physiatrist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Plastic surgeon</a></li>
					<li><a href=""><i class="fa fa-square"></i>Psychiatrist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Pulmonologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Radiation oncologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Radiologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Reproductive endocrinologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Rheumatologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Sleep disorders specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Spinal cord injury specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Sports medicine specialist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Surgeon</a></li>
					<li><a href=""><i class="fa fa-square"></i>Thoracic surgeon</a></li>
					<li><a href=""><i class="fa fa-square"></i>Urologist</a></li>
					<li><a href=""><i class="fa fa-square"></i>Vascular surgeon</a></li>					
				 </ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<nav aria-label="Page navigation">
				  <ul class="pagination custom-pagination">
					<li>
					  <a href="#" aria-label="first">
						<span aria-hidden="true">First</span>
					  </a>
					</li>
					<li>
					  <a href="#" aria-label="Previous">
						<span aria-hidden="true">Previous</span>
					  </a>
					</li>
					<li><a href="#">1</a></li>
					<li><a class="active" href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
					  <a href="#" aria-label="Next">
						<span aria-hidden="true">Next</span>
					  </a>
					</li>
					<li>
					  <a href="#" aria-label="last">
						<span aria-hidden="true">Last</span>
					  </a>
					</li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</section>