<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Doctor Specialization</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60" ng-init="getSpecializationList()">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 doctor-directory">
				 <ul class="state-place-list">
					<li ng-repeat="spe in specializationList"><a href=""><i class="fa fa-square"></i>{{spe.name}}</a></li>
				 </ul>
			</div>
		</div>
	</div>
</section>