<section class="lpb-section" ng-init="initlandingPage()">
	<div class="inner-banner-sm bg-overlay2">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-md-offset-2 text-center">
				   <h2>Choose A Template And Get Started</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="landing-page-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center m-b-50">
			  <h2>How it Works</h2>
			  <div class="line-sm"></div>
			</div>
			<div class="col-sm-12 text-center">
				<ul class="claim-method-progress">
				<li>
				  <img src="images/landing-img/select-your-template.png">
				  <p>Select your Template </p>
				</li>
				<li>
				  <img class="hidden-xs" src="images/landing-img/progress-arrow.png">
				</li>
				<li>
				  <img src="images/landing-img/preview.png">
				  <p>Preview</p>
				</li>
				<li>
				  <img class="hidden-xs" src="images/landing-img/progress-arrow.png">
				</li>
				<li>
				  <img src="images/landing-img/subscribe.png">
				  <p>Subscribe</p>
				</li>
			  </ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="line"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="preview-box">
					<h3>Layout-1</h3>
					<img src="images/landing-img/layout-1.png" />
					<div class="m-t-10">
						<a class="btn btn-blue btn-md m-r-10" ng-click="selectTemplate('template1')">Select</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="preview-box">
					<h3>Layout-2</h3>
					<img src="images/landing-img/layout-2.png" />
					<div class="m-t-10">
						<a class="btn btn-blue btn-md m-r-10" ng-click="selectTemplate('template2')">Select</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="preview-box">
					<h3>Layout-3</h3>
					<img src="images/landing-img/layout-3.png" />
					<div class="m-t-10">
						<a class="btn btn-blue btn-md m-r-10" ng-click="selectTemplate('template3')">Select</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="preview-box">
					<h3>Layout-4</h3>
					<img src="images/landing-img/layout-4.png" />
					<div class="m-t-10">
						<a class="btn btn-blue btn-md m-r-10" ng-click="selectTemplate('template4')">Select</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="preview-box">
					<h3>Layout-5</h3>
					<img src="images/landing-img/layout-5.png" />
					<div class="m-t-10">
						<a class="btn btn-blue btn-md m-r-10" ng-click="selectTemplate('template5')">Select</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="preview-box">
					<h3>Layout-6</h3>
					<img src="images/landing-img/layout-6.png" />
					<div class="m-t-10">
						<a class="btn btn-blue btn-md m-r-10" ng-click="selectTemplate('template6')">Select</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="preview-box">
					<h3>Layout-7</h3>
					<img src="images/landing-img/layout-7.png" />
					<div class="m-t-10">
						<a class="btn btn-blue btn-md m-r-10" ng-click="selectTemplate('template7')">Select</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="preview-box">
					<h3>Layout-8</h3>
					<img src="images/landing-img/layout-8.png" />
					<div class="m-t-10">
						<a class="btn btn-blue btn-md m-r-10" ng-click="selectTemplate('template8')">Select</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="preview-box">
					<h3>Layout-9</h3>
					<img src="images/landing-img/layout-9.png" />
					<div class="m-t-10">
						<a class="btn btn-blue btn-md m-r-10" ng-click="selectTemplate('template9')">Select</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="preview-box">
					<h3>Layout-10</h3>
					<img src="images/landing-img/layout-10.png" />
					<div class="m-t-10">
						<a class="btn btn-blue btn-md m-r-10" ng-click="selectTemplate('template10')">Select</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
