<section class="inner-banner-section" ng-init="loadReviewList()">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<img class="m-b-20" src="images/success-btn.png" />
				<h2>Submission Successful</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60">
	<div class="container">
		<div class="clearfix" ng-repeat="review in reviewList">
			<div class="row">
				<div class="col-md-2">
					<div class="comment-review">
					  <img ng-if="review.userPhoto" src="{{review.userPhoto}}">
					  <span ng-if="!review.userPhoto">{{review.userName | getShortName}}</span>
					</div>
				</div>
				<div class="col-md-10 commeted-review">
					<h3>{{review.userName}}</h3>
					<div class="star-vote">
						<ul ng-init="reviewRatings(review)">
							<li ng-repeat="star in review.ratingArr track by $index"><i class="{{star}}"></i></li>
						</ul>
						<small>{{review.date | dateformat2}}</small>
					</div>
					<p>{{review.review}}</p>
				</div>
			</div>
			<hr/>
		</div>
		<!-- <div class="row m-t-20" >
			<div class="col-md-12 text-center">
			  <a class="loadmore-btn" href="">Load More</a>
			</div>
		</div> -->
	</div>
</section>
