<section class="inner-banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Forgot Password</h2>
			</div>
		</div>
	</div>
</section>
<section class="page-section padd-v-60" ng-init="initLogin()">
	<div class="container">
		<div class="row">
			<div class="login-cardbox col-md-6 col-sm-offset-3">
				<form name="loginFrm">
					<div class="form-group" name="loginFrm">
						<div class="form-group">
							<h4>Enter email to get password</h4>
						</div>
						<div class="input-group m-b-20">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>							
							<input type="text" name="email" class="form-control" id="email" placeholder="Email" required ng-model="user.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
							<span class="color-red" ng-if="loginFrm.email.$touched && loginFrm.email.$error.required">Please enter your email</span>
							<span class="color-red" ng-if="loginFrm.email.$touched && loginFrm.email.$error.pattern">Please enter valid mail id</span>
						</div>
						<div class="row">
							<div class="col-lg-6">
							</div>
							<div class="col-lg-6 text-right">
								<button class="btn btn-blue btn-md text-u-c m-r-5" type="submit" ng-click="forgotPassword(user.email)">Submit</button>
							</div>
						</div>
					</div>			
				</form>
			</div>
		</div>
	</div>
</section>
