<section class="sign-banner">
  <div class="inner-banner-sm bg-overlay">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12 text-center">
			  <h2>Reset Password</h2>
		  </div>
		</div>
	  </div>
  </div>
</section>
<section class="page-section padd-v-60">
	<div class="page-section">
		<div class="container">
			<div class="row">
				<div class="login-cardbox col-md-6 col-sm-offset-3">
					<div class="sign-wrap">
						<div class="title text-center">							
							<p>Enter a new password for your account</p>
						</div>
						<form name="changePwdFrm">
						  <div class="form-group">
							<label for="exampleInputPassword1">Old Password</label>							
							<input type="password" class="form-control" name="oldpassword" ng-model="user.oldPwd" required placeholder="Password">
							<span class="color-red" ng-if="changePwdFrm.oldpassword.$touched && changePwdFrm.oldpassword.$error.required">Please enter the password sent on ur mail id</span>
						  </div>
						  <div class="form-group">
							<label for="exampleInputPassword1">New Password</label>
							<input type="password" class="form-control" name="newpassword" ng-model="user.password" required placeholder="New Password">
							<span class="color-red" ng-if="changePwdFrm.newpassword.$touched && changePwdFrm.newpassword.$error.required">Please enter new password </span>
						  </div>
						  <div class="form-group">
							<label for="exampleInputPassword1">Confirm Password</label>
							<input type="password" name="c_pass" ng-model="user.c_pass" class="form-control" required placeholder="Password" ng-blur="validatePassword()">
							<span class="color-red" ng-show="showPasswordMisMatch">Password Mismatch</span>
						  </div>
						  <button type="submit" ng-disabled="changePwdFrm.$invalid" class="btn btn-blue btn-md text-u-c m-r-5" ng-click="changePassword()">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
